body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 5% 5% 10% 40% auto;  
    height: 100%;
}

.item-header {
    font-size: 24px;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
}

.item-sub-header {
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;    
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
}

.small-frame {
    margin:10px;
    display: grid;
    font-size: 24px;
    border: 2px #6fa9ff solid;
    border-radius: 15px;
    text-align: center; 
    align-items: center;
}

.item-a {        
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;    
}

.item-b {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.item-c {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.item-d {
    border: 1px solid lightgray;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

.item-e {
    border: 1px solid lightgray;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

.item-f {
    border: 1px solid lightgray;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}