* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 10% 10% auto 10% 10%;
    grid-template-rows: 8% 15% 40% auto 12%; 
    width: 100vw;
    height: 100vh;
}

.item-h {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    font-size: 2vh;
}

.item-logo {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
}

.logo {
    border-radius: 8vw;
    width: 15vh;
    height: 15vh;
}

.item-slides {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
}

.items-slides img {
    min-width: 100%;
    min-height: 100%;
    display: block;
    object-fit: cover
}

.item-audio {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    justify-self: center;
}